$threads-font-path: '~plaid-threads/fonts';
@import '~plaid-threads/scss/typography';
@import '~plaid-threads/scss/variables';

$border: 1px solid $black200;
/*


Base

*/

body {
  background: $white;
}

.App {
  max-width: 300 * $unit;
  margin-right: auto;
  margin-left: auto;
  padding: 1 * $unit 40 * $unit 0 20 * $unit;
}

/*

shared styles

*/
.bottom-border-content {
  overflow: hidden;
  border-bottom: 1px solid $black1000;
  margin-bottom: 1 * $unit;
  padding-bottom: 1 * $unit;
}

.box {
  border: $border;
  border-radius: $border-radius;
  margin-bottom: 3 * $unit;
  box-shadow: $shadow-xsmall;
}

.card {
  display: flex;
  padding: 2rem;
  align-items: center;
}

.heading {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.value {
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.toast__background {
  background: $white;
}

.toast__link {
  color: $white;
  text-decoration: underline;
}

.Toastify__toast--error.toast__background {
  background: $red800;
}

.toast__body {
  color: $black1000;
  font-size: 2 * $unit;
  white-space: pre-line;
  padding-left: $unit;
}

.Toastify__toast--error > .toast__body {
  color: $white;
}

/*

Content at the top of the view

*/

.everpresent-content__heading {
  margin-bottom: 1 * $unit;
}

.everpresent-content__subheading {
  font-size: 1 * $unit;
  font-weight: 300;
  line-height: 1 * $unit;
}

/*

Landing overview

*/

.landing__column {
  width: 33%;
  float: left;
}

.landing__value {
  overflow-x: hidden;
  padding-right: 1rem;
}

.btnsContainer {
  display: flex;
  margin: 2 * $unit 0;
}

.btnWithMargin {
  margin-left: 2 * $unit;
}

/*

Modal

*/

input::placeholder {
  line-height: 1.5;
}

/*

UserList

*/

.user-list-heading {
  font-weight: normal;
}

/*

UserCard

*/

.user-card__box {
  box-shadow: $shadow-medium;
  border-bottom: $border;
}
.user-card {
  display: flex;
}

.user-card-clickable {
  width: 100%;
}

.user-card__detail {
  display: flex;
  justify-content: space-around;
  margin-left: 3 * $unit;
}

.hoverable {
  width: 100%;
  flex: 3;
  display: flex;
}

.user-card__buttons {
  padding-left: 3 * $unit;
  display: grid;
  grid-row-gap: $unit;
  justify-content: center;
  flex: 1;
}

/*

Item overview

*/

.item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1 * $unit 0;
}
.item__header-heading {
  margin-bottom: 1rem;
  font-weight: normal;
}

.item-card {
  padding: 0 $unit 0 0;
  background-color: $black100;
  border-bottom: $border;
  box-shadow: $shadow-medium;
  display: grid;
  grid-template-columns: 9fr 1fr;

  &.expanded {
    box-shadow: none;
  }
}

.item-card__clickable {
  padding: (2 * $unit) 0 (2 * $unit) (2 * $unit);
  width: 95%;
  display: grid;
  grid-template-columns: 8fr 6fr 9fr;
}

.item-card__column-1 {
  display: flex;
  align-items: center;
}

.item-card__column-2 {
  margin-top: $unit;
}

.item-card__img {
  height: 4 * $unit;
  padding-right: 1rem;
}

/*

Account row

*/
.account-data-row {
  border-bottom: $border;
  padding: 3 * $unit;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.account-data-row:after {
  clear: both;
  content: '';
  display: table;
}

.account-data-row__name {
  font-size: 2 * $unit;
  line-height: 4 * $unit;
  display: inline-block;
  font-weight: 500;
}

/*

Add User Form

*/

.addUserForm {
  margin-top: 3 * $unit;
}

.add-user__column-1 {
  width: 30%;
  padding-right: 3 * $unit;
}

.add-user__heading {
  font-size: 2 * $unit;
}

.add-user__value {
  font-size: 1.4rem;
}

.add-user__column-2 {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  .input_field {
    margin-bottom: 0;
  }
}

.add-user__column-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 30%;
}

.add-user__button {
  margin: 0 2 * $unit;
  min-width: 10 * $unit;
}

/*

transactions-table

*/
.transactions {
  border-bottom: $border;
}

.transactions-table {
  padding: 0 (1 * $unit);
  width: 100%;
}

.transactions-table th {
  font-size: 2 * $unit;
  font-weight: 600;
  padding-top: 2 * $unit;
  padding-bottom: 2 * $unit;
}

.transactions-table thead tr {
  border-bottom: $border;
  text-align: left;
}

.transactions-body {
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
}

.table-date {
  width: 12%;
}

.table-account {
  width: 15%;
}

.table-name {
  width: 28%;
}

.table-category {
  width: 12%;
}

.table-subcategory {
  width: 20%;
}

.table-amount {
  width: 13%;
}

/*

More Details

*/
.more-details {
  position: relative;
}

.menuOption {
  line-height: 1.8rem !important;
  padding-top: $unit;
}

/*

net worth

*/

.tableSubHeading {
  margin-top: $unit;
}

.netWorthText {
  font-family: $font-stack-monospace;
  font-size: 1 * $unit;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.netWorthContainer {
  .netWorthDollars {
    margin-top: $unit;
    margin-bottom: $unit;
  }

  .netWorthHeading {
    margin-top: 1 * $unit;
    margin-bottom: 0;
  }
}

.holdingsContainer {
  display: flex;
}

.userDataBoxAssets {
  width: 69 * $unit;
  min-height: 20 * $unit;
  border: $border;
  margin-right: 2 * $unit;
}

.userDataBox {
  width: 69 * $unit;
  min-height: 30 * $unit;
  border: $border;
  margin-right: 2 * $unit;
}

.userDataBoxBarChart {
  width: 140 * $unit;
  min-height: 30 * $unit;
  border: $border;
  margin-right: 2 * $unit;
}

.holdingsList {
  padding: 4 * $unit;

  .title {
    font-weight: bold;
  }
}

.assetsHeaderContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.dollarsHeading {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: $unit;
}

.holdingsHeading {
  margin-top: 0;
  margin-bottom: 0;
}

.data,
.personalAsset {
  display: grid;
  grid-template-columns: 5fr 5fr 1fr;

  .title {
    font-weight: bold;
  }

  .dataItem {
    margin-bottom: 0;
  }
}

/*

Monthly Spending

*/

.monthlySpendingContainer {
  display: flex;
}

.monthlySpendingHeading {
  margin-top: 2 * $unit;
  margin-bottom: 0;
}

.monthlySpendingText {
  margin-bottom: 4 * $unit;
  font-family: $font-stack-monospace;
  font-size: 2 * $unit;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.recharts-wrapper {
  margin: 0 2 * $unit;
}

.spendingInsightData {
  display: grid;
  grid-template-columns: 2fr 1fr;
  overflow-y: auto;
  max-height: 400px;
  grid-row-gap: 1px; // Adjust the value as per your requirement
}

/*

Loading

*/

.loading {
  display: grid;
  grid-template-rows: 150px 100px;
  grid-row-gap: 50px;
  justify-items: space-around;
  width: 50%;
  margin: auto;
  margin-top: -125px;
}

/*

ErrorMessage

*/

.errMsgCallout {
  position: relative;
  margin-bottom: 3 * $unit;

  .closeBtn {
    position: absolute;
    right: 0;
    top: 0;
  }
}


/* Styling for the input box */
.nice-input {
  width: 100%; /* Full width */
  padding: 10px 15px; /* Spacing inside the input */
  margin: 8px 0; /* Spacing outside the input */
  display: inline-block; /* Allows for inline placement */
  border: 1px solid #ccc; /* Light grey border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Makes sure padding doesn't affect overall width */
  font-size: 16px; /* Larger, more readable text */
  color: #333; /* Darker text color for readability */
  background-color: white; /* White background */
  transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition for focus effect */
}

/* Hover state */
.nice-input:hover {
  border-color: #888; /* Darker border on hover */
}

/* Focus state */
.nice-input:focus {
  outline: none; /* Removes the default focus outline */
  border-color: #4A90E2; /* Blue border on focus */
  box-shadow: 0 0 8px rgba(74, 144, 226, 0.5); /* Subtle glow effect */
}

.pagination-list {
  margin: 30;
  padding: 10;
  list-style: none;
  display: flex;
  justify-content: center;
}

.pagination-item {
  display: inline-block;
  margin-right: 5px;
}

.pagination-link {
  display: inline-block;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  color: #333;
  cursor: pointer;
  text-decoration: none;
}

.pagination-link:hover {
  background-color: #e0e0e0;
}

.pagination-link.active {
  background-color: #333;
  color: #fff;
}

.table-filter-sort-container {
  display: flex;
  align-items: center;
}

.nice-text {
  font-size: 1.1em;
  color: #333;
  margin-right: 10px;
  font-weight: bold;
}

.filter-input {
  flex: 0 0 70%;
  margin-right: 10px;
}

.sort-input {
  flex: 1;
}

.container {
  display: flex;
  flex-direction: row; /* Ensures the children (left and right sections) are laid out in a row */
  width: 100%; /* Use the full width of the parent */
}

.left-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: left;
  margin-right: 20px;
  width: 25%; /* 30% width of the container */
}

.right-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: right;
  width: 70%; /* 70% width of the container */
}

.nice-button {
  background-color: #4a90e2;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1em;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.centered {
  text-align: center;
}